@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
html {
  font-size: 10px;
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
  font-family: monospace;
  overflow: hidden;
}
canvas {
  padding: 0;
  margin: 0;
}
div.btnbg {
  position: relative;
  left: 0;
  top: 0;
}
div.logo {
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
  margin-top: 20%;
}
h1.logo {
  font-size: 2rem;
  color: rgb(22, 0, 25);
  border-style: solid;
  border-radius: 1rem;
  background-image: linear-gradient(
    to right,
    rgba(255, 103, 103, 0.76),
    #4837e31c
  );
}

.game_list {
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  display: grid;
  grid-template-columns: [first] auto [second] auto [third] auto;
}

.game_box {
  height: 240px;
  background: rgb(22, 0, 25);
  text-decoration: none;
  position: relative;
}
.game_box:hover {
  background-color: #4837e31c;
  transition: 1.5s;
}
.game_box:hover .overlay {
  opacity: 1;
}
.game_box > div {
  display: block;
  height: 100%;
  width: auto;
  margin: 2px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    rgba(255, 103, 103, 0.76),
    #4837e31c
  );
}

.overlay:hover {
  color: white;
  font-size: 2em;
  border-radius: 5px;
}
/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  flex-direction: column;
}
footer {
  bottom: 0;
  left: 50%;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}