html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
/* Navigation Bar */
header {
  text-align: center;
}
a {
  color: white;
  transition: 0.5s;
  text-decoration: none;
  text-align: center;
  margin: 25px auto;
}
a:hover {
  color: rgb(255, 103, 103);
  border-radius: 5px;
  padding: 5px;
  background: black;
}
header {
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  background-image: linear-gradient(to right, rgb(255, 103, 103), #4837e3);
  width: 100%;
  z-index: 12;
  position: fixed;
  font-size: 1.5em;
}

/* Suggestion Form */
body {
  display: grid;
  grid-template-columns: [first] 55% [second] 45%;
}
div.animation {
  left: 0;
  grid-column-start: 0;
  grid-column-end: 2;
}
form.suggestion {
  margin: 5%;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
}
h1 {
  color: rgb(255, 103, 103);
  font-size: 25px;
  border-radius: 5px;
  padding: 5px;
  transition: 0.5s ease;
  margin-top: 10%;
}
input {
  text-align: center;
  height: 2rem;
}
input[name="username"] {
  width: 90%;
}
textarea {
  width: 90%;
  margin-top: 2%;
}
textarea,
input {
  font-family: monospace;
  resize: none;
  outline: none;
  color: white;
  background: rgba(22, 0, 25, 0.288);
  border-radius: 5px;
  caret-color: rgb(255, 103, 103);
  box-shadow: 5px 5px #4837e3;
}
::placeholder {
  color: white;
  border-radius: 5px;
  font-family: monospace;
  text-align: center;
}

/* Submit Button */
button {
  color: white;
  background: rgb(255, 103, 103);
  text-decoration: inherit;
  font-family: monospace;
  margin-top: 2%;
  width: 90%;
  cursor: pointer;
  border-radius: 5px;
  height: 3rem;
}
.border-gradient-purple {
  box-shadow: 2px 2px #4837e3;
  transition: 1.5s;
}
.border-gradient-purple:hover {
  color: rgb(255, 103, 103);
  background: #4837e3;
  box-shadow: 5px 5px rgb(255, 103, 103);
  cursor: pointer;
}

/* Animation */
#background {
  position: relative;
  z-index: -1;
  animation: bg-animation 3s ease infinite;
  animation-direction: alternate;
  transform-origin: center;
  transform-box: fill-box;
}
#l3 {
  animation: left3 0.6s ease infinite;
  transform-origin: center 60px;
  transform-box: fill-box;
}
#r3 {
  animation: right3 0.7s ease infinite;
  animation-direction: alternate;
  transform-origin: center 60px;
  transform-box: fill-box;
}
#l12 {
  animation: l12 0.2s ease infinite;
  animation-direction: alternate;
  transform-origin: center;
  transform-box: fill-box;
}
#r12 {
  animation: r12 0.2s ease infinite;
  animation-direction: alternate;
  transform-origin: center;
  transform-box: fill-box;
}
#console {
  animation: r12 0.5s ease infinite;
  animation-direction: alternate;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes bg-animation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(3);
  }
}

@keyframes left3 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes right3 {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(20px);
  }
}
@keyframes l12 {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(5px);
  }
}
@keyframes r12 {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-5px);
  }
}
