<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dragon Quest XI Review</title>
    <link rel="stylesheet" href="review.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <section class="navigation">
      <header>
        <div class="wrapper">
          <div class="logo">
            <a href="/">GameReviewer<i class="fas fa-gamepad"></i></a>
          </div>
          <nav>
            <a href="#story">Story</a>
            <a href="#gameplay">Gameplay</a>
            <a href="#library">Image Library</a>
            <a href="#review">Review</a>
            <a href="#posts">Previous Posts</a>
          </nav>
        </div>
      </header>
    </section>

    <section
      class="banner"
      style="
        background-image: url(images/banners/dragonquest_wallpaper.jpg);
        background-position: center;
        background-repeat: no-repeat;
        padding: 35em;
      "
    >
      <h1 class="title">
        <a
          href="https://dragonquest.square-enix-games.com/?lng=us"
          target="_blank"
          >Dragon Quest XI</a
        >
      </h1>
    </section>

    <section class="descriptions">
      <div class="content" id="story">
        <h1>Story</h1>
        <h2>Settings</h2>
        <blockquote>
          <p>
            The game is set in the world of Erdrea, and begins as the kingdom of
            Dundrasil is invaded and destroyed by an army of monsters. The
            protagonist, an infant during the attack, survives and is found
            floating down a river by an old man named Chalky in the village of
            Cobblestone. The protagonist is adopted by Chalky's daughter Amber
            and raised in the village. After the protagonist's coming-of-age
            ceremony, Amber reveals the truth to him about his birth and
            adoption, and sends him to meet King Carnelian of Heliodor. However,
            the king accuses him of being an evil entity and throws him into the
            dungeons. Imprisoned, the protagonist meets a thief called Erik who
            reveals that he was sent to meet him, as the mark on his hand is
            proof that he is the Luminary, a legendary hero chosen by the world
            tree Yggdrasil to save Erdrea from evil. The pair escape and evade
            capture, later joined by two mages: Veronica, who is trapped in a
            child's body due to a curse, and her twin sister Serena. On their
            quest to help the Luminary reach the sacred tree Yggdrasil, they
            gain three other companions: Sylvando, a traveling entertainer, Rab,
            former king of Dundrasil and the protagonist's grandfather, and
            Jade, exiled princess of Heliodor who helped the infant protagonist
            escape during the attack of Dundrasil.
          </p>
        </blockquote>

        <h2>Plot</h2>
        <blockquote>
          <p>
            The party eventually arrives at the heart of Yggdrasil, which
            contains the Sword of Light, the Luminary's destined weapon.
            However, just as the Luminary is about to take it, he and the party
            are intercepted by Carnelian and his retainers Jasper and Hendrik.
            It is revealed that Carnelian was possessed by an evil sorcerer
            known as Mordegon and that Jasper is Mordegon's agent. The two
            subdue Hendrik and the Luminary's party, with Mordegon taking the
            Sword of Light and absorbing the heart of Yggdrasil, destroying the
            tree and plunging the world into an age of darkness. Separated from
            the others, the Luminary returns to Cobblestone, turned into a
            fortified refuge for Heliodor citizens led by Carnelian and Hendrik,
            who apologize to the Luminary for all the troubles they caused him.
            Hendrik joins forces with the Luminary, and together they reclaim
            Heliodor from Mordegon's forces. After reuniting with the rest of
            the party, except for Veronica, who perished saving the others
            during the fall of Yggdrasil, the Luminary obtains the means to
            forge a new Sword of Light, which they use to defeat Jasper and
            Mordegon, which restores Yggdrasil and the world.
          </p>
          <p>
            Afterwards, the party discovers the means to bring Veronica back
            within the Tower of Lost Time. There they meet the Timekeeper, who
            gives the Luminary the power to go back in time and defeats Mordegon
            before he can steal the Sword of Light and Yggdrasil's heart, thus
            saving Veronica from sacrificing herself. However, due to Mordegon's
            absence, a dark spirit is able to summon forth a mysterious orb
            called Erdwin's Lantern and merge with it, thus awakening the game's
            true antagonist, The Dark One, Calasmos, who was previously
            destroyed in the timeline of Mordegon's rule. The party learns that
            a prior Luminary named Erdwin was betrayed and killed by his mage
            companion Morcant, who absorbed Calasmos's powers and transformed
            into Mordegon. Since he could not be destroyed forever without the
            power of the Luminary, Serenica, Erdwin's former sage companion and
            lover, then sealed the weakened Calasmos within Erdwin's Lantern and
            attempted to return to the past at the Tower of Lost Time, but was
            turned into the Timekeeper instead. The party then confronts and
            destroys Calasmos, before the Luminary entrusts his mark to
            Serenica, who reverts to her original form and uses it to return to
            the past and reunite with Erdwin. Accompanied by Veronica and
            Serena, he also returns the Sword of Light to Yggdrasil, who reveals
            itself to be Yggdragon, an ancient dragon of light who was defeated
            by Calasmos ages ago, whose body transformed into the tree Yggdrasil
            and gave life to Erdrea. Yggdragon bestows upon the Luminary the
            title of "Erdrick", the mightiest of all heroes, and keeps the Sword
            for the day when a new hero will need it to defend Erdrea from evil.
            In the mid-credits, Serenica reunites with Erdwin in the past, while
            after the credits, a young mother, after reading the Luminary's
            story in a book, wakes up her child from bed, setting up the
            beginning of Dragon Quest III.
          </p>
        </blockquote>
      </div>

      <div class="content" id="gameplay">
        <h1>Gameplay</h1>
        <h2>Old Features</h2>
        <blockquote>
          <p>
            Dragon Quest XI continues the gameplay of previous games in the
            series, in which players explore worlds and fight against various
            monsters, including the ability to explore high areas. The Nintendo
            3DS version features a different style to the other versions,
            showcasing 3D graphics on the top screen and 16-bit styled sprites
            on the bottom screen. Before entering battle, players can also
            toggle between the 3D and 2D graphical styles at any time. Like with
            Dragon Quest IX, on land the game's battle system features no random
            encounters and shows all enemies on the overworld. The battle system
            also adds a free-form camera option inspired by the MMORPG Dragon
            Quest X that allows players to move around the enclosed battlefield,
            although it is purely visual and provides no other benefits to
            gameplay.
          </p>
        </blockquote>

        <h2>New Features</h2>
        <blockquote>
          <p>
            Several new features for the games are also firsts for the series,
            including cooperative raid encounters, akin to those seen in Pokémon
            Go; the Wild Area, a fully explorable open world area with free
            camera movement and dynamic weather, which has implications on which
            Pokémon species appear at a given time; and "Dynamaxing" and
            "Gigantamaxing", both of which temporarily allow Pokémon to grow to
            larger sizes. Gigantamaxing is limited to select Pokémon and feature
            different forms from the Pokémon's normal appearance. A new mechanic
            called "Poké Jobs" tasks the player's Pokémon with completing
            requests, such as assisting in construction or cooking, to gain
            experience or rare items. In addition, Pokémon native to the game's
            region can be transferred to the games from the Nintendo 3DS app
            Pokémon Bank, Pokémon Go, and Pokémon: Let's Go, Pikachu! and Let's
            Go, Eevee! via the Pokémon Home service. Pokémon Gyms make a return
            after being absent in Sun, Moon, Ultra Sun, and Ultra Moon. As is
            typical with the series, the two games have version-exclusive
            content, such as available Pokémon and, for the first time, Gym
            Leaders. Some features from previous entries, such as Mega Evolution
            and Z-Moves, are absent from the games. A new 'Camp' mode allows the
            player to interact and play with their Pokémon and cook different
            types of curry to provide bonuses for Pokémon. New customization
            options for the player character have been added, like outerwear and
            other accessories. In most instances, the PC box can be accessed
            outside of Pokémon Centers, except when inside Gyms, for example.
          </p>
        </blockquote>
      </div>
    </section>

    <h1>Image Library</h1>
    <section id="library">
      <div class="slider">
        <div class="images">
          <input type="radio" name="slide" id="img1" />
          <input type="radio" name="slide" id="img2" />
          <input type="radio" name="slide" id="img3" />
          <input type="radio" name="slide" id="img4" />
          <input type="radio" name="slide" id="img5" />
          <input type="radio" name="slide" id="img6" />

          <img
            src="images/cgg/dq11/0.jpg"
            class="m1"
            alt="img1"
            checked
          />
          <img src="images/cgg/dq11/1.jpg" class="m2" alt="img2" />
          <img src="images/cgg/dq11/2.jpg" class="m3" alt="img3" />
          <img src="images/cgg/dq11/3.jpg" class="m4" alt="img4" />
          <img src="images/cgg/dq11/4.jpg" class="m5" alt="img5" />
          <img src="images/cgg/dq11/5.jpg" class="m6" alt="img6" />
        </div>
        <div class="dots">
          <label for="img1"></label>
          <label for="img2"></label>
          <label for="img3"></label>
          <label for="img4"></label>
          <label for="img5"></label>
          <label for="img6"></label>
        </div>
      </div>
    </section>

    <form id="review" class="form" action="/review4" method="POST" )>
      <h1>Leave a review</h1>
      <div class="username">
        <h2>Username</h2>
        <input
          type="text"
          placeholder="Enter the name you want to display (under 15 characters)"
          name="username"
          size="100"
          maxlength="15"
          autocomplete="off"
        />
      </div>
      <div class="review">
        <h2>Your review</h2>
        <textarea
          type="text"
          placeholder="Leave your own impression of the game!"
          name="review"
          rows="10"
          cols="200"
        ></textarea>
        <button class="border-gradient border-gradient-purple" type="submit">
          Submit
        </button>
      </div>
    </form>

    <section id="posts">
      <h1>Reviews</h1>
      <ul class="review2">
        <% for(var i = reviews.length - 1; i >= 0; i--) {%>
        <li class="review2">
          <div class="comment-name-box">
            <span class="comment-name"><%= reviews[i].username %></span>
          </div>
          <pre class="comment-content"><%= reviews[i].review %></pre>
        </li>
        <% } %>
      </ul>
    </section>
  </body>
</html>
