<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Nier: Automata Review</title>
    <link rel="stylesheet" href="review.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <section class="navigation">
      <header>
        <div class="wrapper">
          <div class="logo">
            <a href="/">GameReviewer<i class="fas fa-gamepad"></i></a>
          </div>
          <nav>
            <a href="#story">Story</a>
            <a href="#gameplay">Gameplay</a>
            <a href="#library">Image Library</a>
            <a href="#review">Review</a>
            <a href="#posts">Previous Posts</a>
          </nav>
        </div>
      </header>
    </section>

    <section
      class="banner"
      style="
        background-image: url(images/banners/nier_wallpaper.jpg);
        background-position: center;
        background-repeat: no-repeat;
        padding: 35em;
      "
    >
      <h1 class="title">
        <a
          href="https://nierautomata.square-enix-games.com/en-us/age-gate/"
          target="_blank"
          >Nier: Automata</a
        >
      </h1>
    </section>

    <section class="descriptions">
      <div class="content" id="story">
        <h1>Story</h1>
        <h2>Settings</h2>
        <blockquote>
          <p>
            Nier: Automata shares the post-apocalyptic setting of Nier, taking
            place thousands of years after the game's fourth ending. The
            universe of Nier takes place in an alternate timeline within the
            Drakengard series. While carrying over the Drakengard tradition of a
            dark atmosphere and branching storylines, no direct narrative
            connection is shared between Nier: Automata and the rest of the
            series. Set in the year 11945 AD, the story revolves around a proxy
            war between the human-made androids and the machine army of invaders
            from another world. Lacking both emotions and true names, androids
            have particular attitudes that distinguish them from their fellows.
            The "YoRHa" android forces are commanded from the Bunker, a
            reconnaissance base in orbit above Earth. They fight alongside the
            pre-YoRHa androids on Earth (known as the Resistance) to drive back
            the Machines. The initial protagonist is 2B (short for "YoRHa No. 2
            Type B"), a YoRHa combat android whose main traits are her calm and
            composure. 2B is accompanied by 9S (short for YoRHa No.9 Type S), a
            male "scanner" android who displays more emotion than the other
            YoRHa units. Eventually another playable character is introduced:
            "A2", an obsolete attack android with a taciturn personality who
            often chooses to act alone. The androids are supported by Pod 042
            and Pod 153, floating box-like robots that act as ranged weapons.
            The primary antagonists of the game are Adam and Eve, twin
            controllers of the Machine Network; and the Red Girls, a construct
            within the Machine Network. Other characters include the YoRHa's top
            officer, "Commander"; the resistance leader, Anemone; Pascal, a
            machine who dislikes conflict and wishes for peace; Devola and
            Popola, androids who aid the resistance and are of the same model as
            a similar pair from Nier; and the original Nier character Emil, who
            has lost his memories in the intervening years after the original
            game
          </p>
        </blockquote>

        <h2>Plot</h2>
        <blockquote>
          <p>
            The first and second playthroughs follow the respective views of 2B
            and 9S during an initial invasion. After opening a route for future
            missions, they are sent to clear out machine threats for the
            Resistance, led by Anemone, who provides the two with support.
            During their missions, 2B and 9S discover that the machines are
            exploring human societies and concepts. The two work with a pacifist
            machine group led by Pascal; battle Adam and Eve, physical
            manifestations of the machine network who reveal that their creators
            were destroyed centuries ago; and encounter A2, a rogue android on
            the run from YoRHa. Adam is killed by 2B after he captures 9S.
            During his recuperation, 9S discovers a glitch in YoRHa's servers
            when syncing himself and 2B, and learns that humanity was extinct
            long before the alien invasion. Their last remnant is a Moon-based
            server holding humanity's incomplete genome remains. YoRHa
            perpetuates the myth of their survival to maintain morale and give
            androids a "god" to fight for. With Adam dead, Eve goes mad with
            grief and drives the machines under his command into a frenzy. 2B
            and 9S kill Eve to end the rampage, but 9S becomes infected with
            Eve's logic virus, forcing 2B to kill him. However, 9S's
            consciousness survives within the local machine network. The third
            playthrough begins as YoRHa launches a full-scale invasion. A logic
            virus attack—enabled by the "glitch" that 9S previously
            discovered—corrupts every YoRHa unit including those in the Bunker,
            except for 2B and the restored 9S. 2B and 9S are separated in the
            aftermath, and 2B is infected with the logic virus. Discovered by
            A2, 2B uploads her memories into her sword and asks her to look
            after 9S. An ignorant 9S witnesses A2 mercifully killing 2B and
            swears revenge on her. Simultaneously, a tower created by the
            machines rises from the land, separating the two before they can
            fight. The perspective splits between A2 and 9S a fortnight after
            these events. A2—the survivor of a test run for YoRHa—finds herself
            empathising with the machines; she witnesses Pascal's village being
            destroyed, then its "children" committing suicide out of fear when
            attacked. Pascal begs A2 to either wipe his memory or kill him; A2
            can perform either task or leave him. An increasingly-unbalanced 9S
            investigates the tower's resource-gathering platforms, fighting
            machine remnants and learning the tower is designed to launch a
            missile at the Moon server. Both eventually enter the tower, with
            Devola and Popola sacrificing themselves to open it.
          </p>
          <p>
            During these events, it is revealed that YoRHa was always designed
            to lose and to perpetuate the myth of humanity, with the Red Girls
            in the Machine Network using them to further their evolution; each
            side trapped the other in an eternal cycle of war. It is also
            revealed that 2B's real designation was "2E", an "executioner" unit
            assigned to repeatedly kill 9S whenever he discovered the truth
            about humanity, and that 9S was aware of this. Separate arcs play
            out for returning characters Emil, and Devola and Popola. Emil lost
            his memories due to copying himself to fight the aliens. A group of
            those copies, gone mad after losing their sense of self, act as a
            secret boss battle. After the current character wins the fight, Emil
            dies after remembering his reason for fighting. Devola and Popola
            were ostracized and programmed to feel endless guilt after their
            model series caused humanity's extinction in Nier. They stay at the
            Resistance camp doing the riskier jobs, and aid the YoRHa androids
            until helping 9S at the tower. At the top of the tower, the two
            androids confront each other; 9S, now insane and infected with the
            logic virus, challenges A2 to a fight, prompting the player to
            choose a character. If A2 is picked, she saves 9S and sacrifices
            herself to destroy the tower. If 9S is chosen, the two androids kill
            each other; in his final moments, the Machine Network offers him the
            chance to join them, as the tower has changed its function to fire
            an ark containing the Machine memories to find a new world. Once
            both of these endings are unlocked, Pods 042 and 153 defy their
            orders to delete YoRHa's data, prompting the player to destroy the
            credits in a shoot 'em up section. Despite the possibility that the
            three restored androids would repeat everything, the Pods hold faith
            that they will forge a new future for themselves. The player is then
            given the option to sacrifice their save data to help other players.
          </p>
        </blockquote>
      </div>

      <div class="content" id="gameplay">
        <h1>Gameplay</h1>
        <blockquote>
          <p>
            Nier: Automata is an action role-playing game (RPG) in which players
            take the role of combat androids from the YoRHa units across an open
            world. In addition to standard navigation on foot, using a special
            item allows the player to summon a wild animal to ride, and in some
            scenarios pilot a flying mech to fight enemies. As with Nier (2010),
            during navigation in some environments, the camera shifts from its
            standard third-person perspective to an overhead or side-scrolling
            view. Some areas also include platforming elements, requiring the
            player to navigate by jumping between platforms or over obstacles.
            The player can complete side quests for non-playable characters
            (NPCs) found throughout the world. Shops available in hub locations
            allow the player to purchase items, including consumables that
            recover health. Automata features 26 different endings; five main
            endings lettered A to E, and 21 additional endings lettered F
            through Z. These additional endings act as game over events
            triggered by performing certain actions, not progressing the
            narrative, or losing certain battles. Combat is hack and slash
            action-based, with the player fighting enemies in real-time in a
            variety of in-game environments. During battle, the player can use
            light attacks—which are fast but weak—and heavy attacks—slow and
            more powerful. The player can evade enemy attacks and, with
            successfully timed button presses, can gain temporary
            invulnerability and launch a counterattack that deals heavy damage.
            The player is also assisted by a Pod, a flying robot assistant that
            can launch customizable ranged attacks varying from simple gunfire
            to heavy-hitting hammer attacks. Pods can also shield the player
            from harm in various ways. At different points, the gameplay changes
            to reflect different video game genres, ranging from shoot 'em up to
            text adventure segments.
          </p>
          <p>
            The player is able to bring two melee
            weapons in combat. While attacking, the player can alternate between
            both weapons and attacks to create combination attacks. There are
            four different classes of weapons available: short swords, long
            swords, bracers, and spears. Attacks with different weapon types can
            also be charged and launched for increased damage. Weapon Stories, a
            recurring element in both Nier and the Drakengard series, where
            weapons found throughout the world have unique stories attached to
            them, are also featured. Each character has a different style;
            initial lead 2B is an attacker with two weapons available, second
            protagonist 9S has only one weapon and specialises in hacking into
            enemies to deal high damage, and later character A2 plays similarly
            to 2B with an added ability to briefly boost attack power by
            sacrificing health. As characters progress, they gain experience
            levels, increasing their health, defence, and attack power.
            Character customization is handled through Chips, items installed
            into the player characters that adjust some of their attributes;
            these chips can do thing such as alter the HUD to show enemy health
            and damage and grant status buffs to the player characters. The
            number of Chips that can be installed at any one time are limited by
            how many slots a character has. Chips can either be purchased at
            shops or picked up from defeated enemies. If the player character
            dies, they respawn at their previous save point. The player
            character can then find their original body and either retrieve
            items and experience left with it to gain a bonus, or attempt to
            repair it. If successful, the body is resurrected as a temporary
            ally, but if unsuccessful, it becomes an enemy the player can defeat
            for an extra bonus. With online features enabled, the bodies of
            other players can also be retrieved or revived at the location where
            they died.
          </p>
        </blockquote>
      </div>
    </section>

    <h1>Image Library</h1>
    <section id="library">
      <div class="slider">
        <div class="images">
          <input type="radio" name="slide" id="img1" />
          <input type="radio" name="slide" id="img2" />
          <input type="radio" name="slide" id="img3" />
          <input type="radio" name="slide" id="img4" />
          <input type="radio" name="slide" id="img5" />
          <input type="radio" name="slide" id="img6" />

          <img src="images/cgg/nier/0.jpg" class="m1" alt="img1" checked />
          <img src="images/cgg/nier/1.jpg" class="m2" alt="img2" />
          <img src="images/cgg/nier/2.jpg" class="m3" alt="img3" />
          <img src="images/cgg/nier/3.jpg" class="m4" alt="img4" />
          <img src="images/cgg/nier/4.jpg" class="m5" alt="img5" />
          <img src="images/cgg/nier/5.jpg" class="m6" alt="img6" />
        </div>
        <div class="dots">
          <label for="img1"></label>
          <label for="img2"></label>
          <label for="img3"></label>
          <label for="img4"></label>
          <label for="img5"></label>
          <label for="img6"></label>
        </div>
      </div>
    </section>

    <form id="review" class="form" action="/review3" method="POST" )>
      <h1>Leave a review</h1>
      <div class="username">
        <h2>Username</h2>
        <input
          type="text"
          placeholder="Enter the name you want to display (under 15 characters)"
          name="username"
          size="100"
          maxlength="15"
          autocomplete="off"
        />
      </div>
      <div class="review">
        <h2>Your review</h2>
        <textarea
          type="text"
          placeholder="Leave your own impression of the game!"
          name="review"
          rows="10"
          cols="200"
        ></textarea>
        <button class="border-gradient border-gradient-purple" type="submit">
          Submit
        </button>
      </div>
    </form>

    <section id="posts">
      <h1>Reviews</h1>
      <ul class="review2">
        <% for(var i = reviews.length - 1; i >= 0; i--) {%>
        <li class="review2">
          <div class="comment-name-box">
            <span class="comment-name"><%= reviews[i].username %></span>
          </div>
          <pre class="comment-content"><%= reviews[i].review %></pre>
        </li>
        <% } %>
      </ul>
    </section>
  </body>
</html>
