<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/suggestion.css" />
    <script src="../../scripts/email-validation.js"></script>
    <title>Review Page</title>
  </head>
  <body>
    <section class="navigation">
      <header>
        <a href="/" method="GET">GameReviewer<i class="fas fa-gamepad"></i></a>
      </header>
    </section>

    <form
      class="suggestion"
      action="/mail"
      method="POST"
      onsubmit="ValidateEmail(this)"
      )
    >
      <h1>Give us a suggestion</h1>
      <input
        id="username"
        type="text"
        placeholder="Please enter your username (more than 8 and less than 50 characters)"
        name="username"
        size="100"
        minlength="8"
        maxlength="50"
        autocomplete="off"
        required
      />

      <textarea
        type="text"
        id="suggestion"
        placeholder="Please tell us what we could help you with for the better!"
        name="suggestion"
        rows="25"
        cols="100"
      ></textarea>

      <button class="border-gradient border-gradient-purple" type="submit">
        Submit
      </button>
    </form>
  </body>
</html>
