<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/suggestion.css" />
    <title>Review Page</title>
  </head>
  <body>
    <section class="navigation">
      <header>
        <div class="wrapper">
          <div class="logo">
            <a href="/" method="GET">GameReviewer<i class="fas fa-gamepad"></i></a>
          </div>
          <nav>
            <a href="/about" method="GET">About</a>
          </nav>
        </div>
      </header>
    </section>
    <h1>Give us a suggestion</h1>
    <form class="form" action="/mail" method="POST" )>
      <input
        id="username"
        type="text"
        placeholder="Enter the name you want to display (under 15 characters)"
        name="username"
        size="100"
        maxlength="15"
        autocomplete="off"
      />

      <textarea
        type="text"
        id="request"
        placeholder="Leave your own impression of the game!"
        name="request"
        rows="10"
        cols="100"
      ></textarea>

      <button class="border-gradient border-gradient-purple" type="submit">
        Submit
      </button>
    </form>
  </body>
</html>
