<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Genshin Impact Review</title>
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/review.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <section class="navigation">
      <header>
        <div class="wrapper">
          <div class="logo">
            <a href="/">GameReviewer<i class="fas fa-gamepad"></i></a>
          </div>
          <nav>
            <a href="#story">Story</a>
            <a href="#gameplay">Gameplay</a>
            <a href="#library">Image Library</a>
            <a href="#review">Review</a>
            <a href="#posts">Previous Posts</a>
          </nav>
        </div>
      </header>
    </section>

    <section
      class="banner"
      style="
        background-image: url(images/banners/genshin_wallpaper.png);
        background-position: center;
        background-repeat: no-repeat;
        padding: 35em;
      "
    >
      <h1 class="title">
        <a href="https://genshin.mihoyo.com/en/home" target="_blank"
          >Genshin Impact</a
        >
      </h1>
    </section>

    <section class="descriptions">
      <div class="content" id="story">
        <h1>Story</h1>
        <h2>Settings</h2>
        <blockquote>
          Genshin Impact takes place in the world of Teyvat, and is composed of
          seven major nations being Mondstadt, Liyue, Inazuma, Sumeru, Fontaine,
          Natlan, and Snezhnaya. In addition to these nations there is Celestia,
          a mysterious floating island which is allegedly home to gods and
          mortals who have ascended to godhood through great, heroic feats. The
          player character, Traveler, is separated from their twin and becomes
          trapped on Teyvat. They are joined by a companion, Paimon, as they
          journey through Teyvat in search for their lost sibling. Each nation
          is associated with and worships one of The Seven, a group of gods
          known as Archons who each preside over one of the seven nations. Each
          member of The Seven is tied to one of the game's elements, and is also
          reflected in their nation's aspect. Barbatos, Rex Lapis, Raiden
          Shogun, and Tsaritsa are archons of Mondstadt, Liyue, Inazuma and
          Snezhnaya, respectively. However, the god who is the Archon may change
          over time as Archons pass away. Specific individuals chosen by the
          Archons are granted a Vision — magical gemstones that give their
          bearers the ability to command an element and the potential to ascend
          to godhood and reside Celestia. Mondstadt, the city of freedom,
          worships the Anemo Archon Barbatos and sits on an island in the middle
          of a lake. The city is protected by The Knights of Favonius, who are
          tasked with protecting Mondstadt and its citizens. To the southwest,
          Liyue worships the Geo Archon Rex Lapis and is the largest market
          harbor in Teyvat. The harbor city is presided over by the Liyue
          Qixing: a group of buisiness leaders, and ancient guardians known as
          Adepti, magical beings that includes Rex Lapis himself. Snezhnaya,
          ruled by the Cryo Archon Tsaritsa, send out diplomats named the Fatui
          who maintain a friendly appearance while using more underhanded
          methods secretly. The Fatui are also Led by the Eleven Harbingers,
          individuals given extraordinary powers and god-like executive
          authority by the Tsarista. Among them include Scaramouche, Signora,
          and Childe, who are respectively the sixth, eighth, and eleventh of
          the Eleven Harbingers. In addition to the Fatui, another antagonistic
          faction in the game is the Abyss Order, a mysterious, but powerful
          legion of monsters that declares themselves to be enemies to all of
          humanity, and are led by the "Prince" or "Princess," their gender
          being opposite of Traveler's.
        </blockquote>

        <h2>Plot</h2>
        <blockquote>
          A pair of twins who travel across the stars and visit different worlds
          arrive in Teyvat but are separated by an unknown god, who takes one
          and seals away the other. Some undisclosed amount of time later the
          sealed twin, referred to as the "Traveler", awakens and meets Paimon.
          The pair travel to nearby Mondstadt to start their search for their
          missing twin. Paimon and Traveler arrive at Mondstadt, and encounter a
          dragon named Stormterror which attacks the city. Aided by an unknown
          entity later revealed to be Venti, Traveler fends off Stormterror and
          is recognized by Jean, acting Grand Master of the Knights of Favonius.
          Traveler helps the Knights restore order to the region, and then meets
          Venti, who comes up with a plan to stop Stormterror. Venti requests
          for them to retrieve a holy lyre so that he may play it to
          Stormterror, calming him. After retrieving the lyre, which was first
          stolen by Fatui, Venti attempts to calm Stormterror but realizes that
          the Abyss Order have been manipulating him the whole time, and Venti's
          true identity is revealed: Barbatos, the Anemo Archon. Traveler,
          accompanied by Jean and Venti, pursue Stormterror to his domain and
          free him from the Abyss Order's influence. Returning to Mondstadt
          Venti is ambushed by the Fatui Harbinger La Signora, who steals his
          Gnosis. The Traveler resolves to meet the other six Archons to find
          their sibling's whereabouts and the unknown god. Venti advises the
          Traveler to travel to Liyue next to meet Rex Lapis during a ritual.
          However during the ritual Rex Lapis is apparently killed.
          Investigating the death, Traveler is manipulated by Fatui Harbinger
          Childe to work with Zhongli, a funeral parlor consultant who is
          overseeing Rex Lapis' funeral. While working with Zhongli, Childe
          finds out the location of Rex Lapis'.
        </blockquote>
      </div>

      <div class="content" id="gameplay">
        <h1>Gameplay</h1>
        <blockquote>
          Genshin Impact is an open world action role-playing game that allows
          the player to control one of four interchangeable characters in a
          party. Switching between characters can be done quickly and during
          combat to the player to use several different combinations of skills
          and attacks. Characters may have their strengths enhanced in various
          ways, such as increasing a character's level and improving artifacts
          and the weapons that the character equips. In addition to exploration,
          the player can attempt various challenges for rewards. Scattered
          across Teyvat are highly powerful challenges that reward highly
          valuable resources, but claiming them uses up a currency called resin,
          which slowly regenerates over time. Completing these challenges grants
          the player progress towards increasing their Adventure Rank, which in
          turn unlocks new quests, challenges, and raises the World Level. The
          World Level is a measure of how strong the enemies within the world
          are and the rarity of rewards that defeating them gives. The player
          can control their character and perform actions such as running,
          climbing, swimming, and gliding which are limited by stamina. Some
          characters possess abilities that can alter the environment, such as
          freezing water to create a path that can aid the player in traversing
          terrain. Many teleportation nodes exist throughout the world that
          players can warp to, and statues known as the Statues of the Seven can
          heal and revive characters and provide benefits such as increasing
          player stamina. Items such as food and ore may be procured from the
          open world, while enemies and treasure chests drop other types of
          resources that may be used in enhancing a character's strength.
          Players can obtain food from hunting animals, gathering wild fruit and
          vegetables, or purchasing them from a store. Most ingredients can be
          cooked into a dish. Some meals regenerate characters' health, while
          others boost various statistics. Mining can be done by attacking and
          destroying mining nodes to produce ore. Ore can be refined and then
          used to enhance weapon strength or create weapons. Each character has
          two unique combat skills: an elemental skill and an elemental burst.
          The elemental skill can be used at any time except for the cooldown
          period immediately after use. In contrast, the elemental burst has an
          energy cost, requiring the user to amass sufficient elemental energy
          by defeating enemies or inflicting elemental statuses. Characters have
          control over one of seven natural elements: Cryo, Dendro, Pyro, Hydro,
          Anemo, Electro and Geo, which correspond to ice, nature, fire, water,
          air, electricity, and earth respectively. These elements can interact
          in different ways; for example, if a Hydro attack hits a target, the
          enemy will be inflicted with the "Wet" status, and if they are hit
          with a Cryo attack, it will inflict "Cold". These two statuses combine
          into the "Frozen" status, temporarily preventing the target from
          performing any actions or until the player deals enough physical
          damage to the enemy. Switching between characters during combat and
          executing those skills allows those elemental interactions to take
          place. Certain elemental abilities may be required to solve puzzles
          within the overworld. A multiplayer mode is available in the form of
          co-op. Up to 4 players can play together in the overworld and join
          domains. Player matching can either be done by requesting to connect
          with another player. If the player wishes to clear a domain with other
          players, they will be automatically matched up with others looking to
          tackle the same objective. The game features cross-platform play, so
          players on any platform can play with each other. By completing quests
          to advance the story, the player can unlock three additional playable
          characters, and more characters can be obtained via a gacha mechanic.
          Several premium in-game currencies, obtainable through in-app
          purchases and playing the game, can be used to obtain characters and
          weapons through the gacha system.
        </blockquote>
      </div>
    </section>

    <h1>Image Library</h1>
    <section id="library">
      <div class="slider">
        <div class="images">
          <input type="radio" name="slide" id="img1" />
          <input type="radio" name="slide" id="img2" />
          <input type="radio" name="slide" id="img3" />
          <input type="radio" name="slide" id="img4" />
          <input type="radio" name="slide" id="img5" />
          <input type="radio" name="slide" id="img6" />

          <img src="images/cgg/genshin/0.jpg" class="m1" alt="img1" checked />
          <img src="images/cgg/genshin/1.png" class="m2" alt="img2" />
          <img src="images/cgg/genshin/2.jpg" class="m3" alt="img3" />
          <img src="images/cgg/genshin/3.jpg" class="m4" alt="img4" />
          <img src="images/cgg/genshin/4.png" class="m5" alt="img5" />
          <img src="images/cgg/genshin/5.jpg" class="m6" alt="img6" />
        </div>
        <div class="dots">
          <label for="img1"></label>
          <label for="img2"></label>
          <label for="img3"></label>
          <label for="img4"></label>
          <label for="img5"></label>
          <label for="img6"></label>
        </div>
      </div>
    </section>

    <form id="review" class="form" action="/review1" method="POST" )>
      <h1>Leave a review</h1>
      <div class="username">
        <h2>Username</h2>
        <input
          type="text"
          placeholder="Enter the name you want to display (more than 8 and less than 50 characters)"
          name="username"
          size="100"
          minlength="8"
          maxlength="50"
          autocomplete="off"
          required
        />
      </div>
      <div class="review">
        <h2>Your review</h2>
        <textarea
          type="text"
          placeholder="Leave your own impression of the game! (more than 50 and less than 1000 characters)"
          name="review"
          minlength="50"
          maxlength="1000"
          required
          rows="10"
          cols="200"
        ></textarea>
        <button class="border-gradient border-gradient-purple" type="submit">
          Submit
        </button>
      </div>
    </form>

    <section id="posts">
      <h1>Reviews</h1>
      <ul class="review1">
        <% for(var i = reviews.length - 1; i >= 0; i--) {%>
        <li class="review1">
          <div class="comment-name-box">
            <span class="comment-name"><%= reviews[i].username %></span>
          </div>
          <pre class="comment-content"><%= reviews[i].review %></pre>
        </li>
        <% } %>
      </ul>
    </section>
  </body>
</html>
